@import "tailwindcss";
@import "@skeletonlabs/skeleton";
@import "@skeletonlabs/skeleton-svelte";

/* Import your chosen theme (e.g., cerberus, seafoam, etc.) */
@import "@skeletonlabs/skeleton/themes/cerberus";

@plugin "@tailwindcss/forms";

/*@custom-variant dark (&:where([color-scheme="dark"]));*/
:root[color-scheme="dark"] {
  color-scheme: dark;
}

:root[color-scheme="light"] {
  color-scheme: light;
}

/* https://github.com/skeletonlabs/skeleton/issues/3993 */
.select,
.input,
.textarea,
.input-group {
  background-color: var(--color-surface-100-900);
  color: var(--color-surface-950-50);
}

html,
body {
  @apply h-full;
}

/* Remove arrows on number input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
