*
{
    box-sizing: border-box;
}

:root
{
    --app-font-size-desktop: 16px;
    --app-font-size-mobile-max: 24px;

    font-size: var(--app-font-size-desktop);
    font-family: sans-serif;

    --app-text-color: #ffffff;

    --app-color-neutral-000: #000000;
    --app-color-neutral-100: #101010;
    --app-color-neutral-200: #202020;
    --app-color-neutral-300: #303030;
    --app-color-neutral-400: #505050;
    --app-color-neutral-500: #707070;


    --app-color-neutral-600: #909090;
    --app-color-neutral-700: #a0a0a0;
    --app-color-neutral-800: #c0c0c0;
    --app-color-neutral-900: #ffffff;

    --app-color-state-off: var(--app-color-neutral-300);
    --app-color-state-on: #00ff00;
    --app-color-state-warn: #ffd900;
    --app-color-state-fault: #ff0000;
    --app-color-state-error: #ff0000;
    --app-color-stroke: #000;

    --app-color-primary-000: hsl(283, 95%, 16%);
    --app-color-primary-100: hsl(283, 86%, 25%);
    --app-color-primary-200: hsl(283, 80%, 28%);
    --app-color-primary-300: hsl(283, 74%, 32%);
    --app-color-primary-400: hsl(283, 63%, 44%);
    --app-color-primary-500: hsl(283, 56%, 49%);
    --app-color-primary-600: hsl(283, 59%, 54%);
    --app-color-primary-700: hsl(283, 76%, 65%);
    --app-color-primary-800: hsl(283, 74%, 71%);
    --app-color-primary-900: hsl(283, 81%, 79%);

    --app-color-secondary-000: hsl(190, 95%, 16%);
    --app-color-secondary-100: hsl(190, 86%, 25%);
    --app-color-secondary-200: hsl(190, 80%, 28%);
    --app-color-secondary-300: hsl(190, 74%, 32%);
    --app-color-secondary-400: hsl(190, 63%, 44%);
    --app-color-secondary-500: hsl(190, 56%, 49%);
    --app-color-secondary-600: hsl(190, 59%, 54%);
    --app-color-secondary-700: hsl(190, 76%, 65%);
    --app-color-secondary-800: hsl(190, 74%, 71%);
    --app-color-secondary-900: hsl(190, 81%, 79%);


    --app-color-info-1: #ff00ff;
    --app-color-info-2: #965096;
    --app-color-info-3: #00ff80;
    --app-color-info-4: #6ab361;
    --app-color-info-5: #00ffdd;





    /* hover active focus state varibles */

    --app-hover-brightness: 0.9;
    --app-active-brightness: 0.8;
    --app-focus-brightness: 0.9;

}

@media only screen and (max-aspect-ratio: 0.7)
{
    :root
    {
        font-size: clamp(10px, 6vw, var(--app-font-size-mobile-max));
    }
}

body
{
    color: var(--app-text-color);
    background-color: var(--app-color-neutral-300);
    min-height: 100svh;
    margin: 0;
    /*overflow: hidden;*/
}

.app
{
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}


a 
{
	text-decoration: none;
}

input,
button,
select,
a
{
	font-size: inherit;
	font-family: inherit;
}

input,
select
{
    color: inherit;
    background-color: var(--app-color-neutral-200);
    border: none;
}

input:hover, 
button:hover,
a:hover,
.btn:hover
{
    opacity: 0.85;
}

input:active,
button:active,
a:active,
.btn:active
{
    opacity: 0.75;
}

input:focus-visible,
select:focus-visible,
button:focus-visible,
a:focus-visible,
.btn:focus-visible
{
    outline: 2px solid var(--app-color-primary-600);
    outline-offset: -2px;
}

.btn,
button
{
    color: inherit;
    background-color: var(--app-color-neutral-400);
    cursor: pointer;
    border: 1px solid var(--app-color-neutral-000);
    border-radius: 0.2rem;
    padding: 0.2rem 1rem;
    width: fit-content;
}

.primary
{
    background-color: var(--app-color-primary-400);
}

.secondary
{
    background-color: var(--app-color-secondary-400);
}


.custom-select 
{
    /*min-width: 100px;*/
    /*width: 100px;*/
    /*position: relative;*/
}

select 
{
    /*appearance: none;
    /* safari */
    /*-webkit-appearance: none;
    /* other styles for aesthetics */
    /*width: 100%;    */
    font-size: 1rem;
    padding: 0.3rem 0.3rem 0.3rem 0.3rem;
    background-color: var(--app-color-neutral-200);
    border: 1px solid var(--app-color-neutral-400);
    border-radius: 0.25rem;
    color: inherit;
    cursor: pointer;
}

